body{
	padding-left: 25%;
}

td{
	border: 0.6px solid black;
	height: 100px;
	width: 100px;
	padding-left: 50px;
	
}

button{
	padding: 10px;
	border-color: white;
	border-radius: 15px;
	
}

table{
	padding: 10px;
}